body{
    margin: 0;
}
.contenido{
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header{
    background-color: rgb(139, 0, 0);
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.596);
    height: 70px;
  }
  
  .logo{
    display: flex;
    }
    
    .logo img{
      height: 60px;
      margin-left: 250px;
      }
    
    .encabezado{
        padding: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 70%;
    }
    
    .enlaces{
        display: flex;
        gap: 30px;
        margin-right: 30px;
    
    }
    
    .enlaces a{
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-family: "Josefin Sans", sans-serif;
      font-weight: bold;
      padding: 20px;
      font-size: 15px;
      text-shadow: 3px 3px 2px rgba(41, 41, 41, 0.74);
  }
    
    .enlaces a:hover{
        color: rgb(199, 0, 0);
        transition: .4s ease;
    }

.container{
    margin: auto;
    width: 800px;
    padding: 30px;
   
  }
  
  ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 800px;
    height: 300px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#ffffff;
  }
  
  ul.slider li img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    margin-left: 120px;
    padding: 20px;

  }
  
  ul.slider li:first-child {
      opacity: 1; 
  }
  
  ul.slider li:target {
      opacity: 1; 
  }
  
  .menu{
    text-align: center;
    margin: 165px;
    padding: 20px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: rgb(160, 0, 0);
    padding: 5px;
    width: 15px;
    height: 15px;
    font-size: 15px;
    border-radius: 100%;
  }