body{
    font-family: Arial, sans-serif;
    margin: 0%;
}

header{
  background-color: rgb(255, 255, 255);
  display: inline-flex;
  justify-content: center;
  position: fixed;
  width: 100%; 
  left: 0; 
  top: 0; 
  height: 70px;
}

.imgfondo{
    width: 100%;
    height: auto;
    position: absolute;
    opacity: 0.7;
    
}

.contenidocuerpo{
    text-align: center;
    padding: 150px;
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 2px rgba(41, 41, 41, 0.199);
    
}

.logo{
display: inline-flex;
}

.logo img{
height: 60px;
margin-left: 250px;
}

.encabezado{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.enlaces{
    display: flex;
    gap: 30px;
    margin-right: 32px;

}

.enlaces a{
    text-decoration: none;
    color: rgb(218, 0, 0);
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    padding: 20px;
    font-size: 15px;
    text-shadow: 3px 3px 2px rgba(41, 41, 41, 0.199);
}

.enlaces a:hover{
    color: rgba(155, 0, 0, 0.466);
    transition: .4s ease;
}

/*Footer*/
footer{
    background: fixed;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;   
}

.contenido-footer{
    width: 100%;
    padding: 40px 0;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 40px;
    background-position: 0%;
}

.contenido-footer footer{
    max-width: 1200px;
    margin: auto;
}

.contenido-footer footer .redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.contenido-footer footer .redes-footer .iconos{
    font-size: 20px;
    margin: 20px;
    background: rgb(107, 0, 0);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
}

